* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px 0 80px;
  background-color: #EEEEEE	;
  height: 90px;
  display: flex;
  line-height: 90px;
  position: relative;
  &__name {
    width: 30%;
    font-size: 45px;
    font-weight: 900;
    color: #333;
    text-shadow: -1px -1px 1px #ffffff, 1px 1px #000000;
    font-family: 'Corben', cursive;
  }
  &__title {
    text-decoration: none;
    color: black;
  }
  .search {
    padding: 25px 0px 0px 40px;
    .text-field {
      float: left;
      height: 35px;
      width: 280px;
      border-radius:  5px; 
      box-shadow: 0 4px 0 0px #F5F5F3;
    }
    .submit {
      height: 35px;
      width: 80px;
      float: left;
      margin-left: 10px;
      background-color:  #00BCD4;
      font-size: 30px;
      color: ghostwhite;
      box-shadow: 0 4px 0 0px #028d9e;
      border-radius:  5px; 
      
      }
  }
  &__posts {
    display: flex;
    // width: 50%;
    position: absolute;
    right: 20px;
    .right {
      padding: 0 60px 0 60px;
      
    }
  }
}



.contents {
  height: calc(100vh - 120px);
  padding: 30px 20px 20px;
  overflow: scroll;
  background-color: #F5F5F3;
  .content {
    flex-wrap: wrap;
    display: flex;
    &__box {
      border: 1px solid black;
      margin: 10px 15px 10px 15px;
      a {
        text-decoration: none;
      }
    .name {
      background-color: black;
      
    }

    .more {
      display: flex;
      justify-content: space-between;
      width: 30%;
    }
    .image {
      bottom: 0px;
      }
    }
  }
}
  .page {
    padding-top: 20px;
    font-size: 20px;
    a {
      text-decoration: none;
      color:black; 
    }
  }
  

.footer {
  background-color:#EEEEEE;
  height: 30px;
} 
