* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px 0 80px;
  background-color: #EEEEEE	;
  height: 90px;
  display: flex;
  line-height: 90px;
  position: relative;
  border: 1px solid black;
  &__name {
    width: 30%;
    font-size: 45px;
    font-weight: 900;
    color: #333;
    text-shadow: -1px -1px 1px #ffffff, 1px 1px #000000;
    font-family: 'Corben', cursive;
  }
  &__title {
    text-decoration: none;
    color: black;
  }
  .search {
    padding: 25px 0px 0px 40px;
    .text-field {
      float: left;
      height: 35px;
      width: 280px;
      border-radius:  5px; 
      box-shadow: 0 4px 0 0px #F5F5F3;
    }
    .submit {
      height: 35px;
      width: 80px;
      float: left;
      margin-left: 10px;
      background-color:  #00BCD4;
      font-size: 30px;
      color: ghostwhite;
      box-shadow: 0 4px 0 0px #028d9e;
      border-radius:  5px; 
      
      }
  }
  &__posts {
    // width: 50%;
    position: absolute;
    right: 20px;
    .right {
      padding: 0 20px 0 60px;
      display: flex;
      a {
        text-decoration: none;
        font-size: 20px;
      }
      .mypage{
        &__name {
          padding: 0.5em 1em;
          text-decoration: none;
          background:#9999;
          color:black;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          border-bottom: solid 3px #627295;
          border-radius: 3px;
          font-weight: bold;
          text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
        }
      }
      .post {
        padding: 0 20px 0 30px;
        &__new {
          padding: 0.5em 1em;
          text-decoration: none;
          background:#FFCC33;
          color:#FFCC33;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          border-bottom: solid 3px #627295;
          border-radius: 3px;
          font-weight: bold;
          text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
        }
      }
      .log {
        &__out{
          padding: 0.5em 1em;
          text-decoration: none;
          background:crimson;
          color:crimson;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          border-bottom: solid 3px #627295;
          border-radius: 3px;
          font-weight: bold;
          text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
        }
      }

    }
  }
}



.contents {
  height: calc(100vh - 120px);
  padding: 30px 20px 20px;
  overflow: scroll;
  background-color: #F5F5F3;
  .content {
    flex-wrap: wrap;
    display: flex;
    &__box {
      width: 300px;
      border: 1px solid black;
      margin: 10px 25px 10px;
      a {
        text-decoration: none; 
        color: black;
        font-weight: bold;
      }  
      .name {
        background-color: #993333;
      }
      .title {
        background-color: #993333;
        color: white;
        font-size: 20px;
      }
      .place{
        font-size: 15px;
      }
      .word {
        font-size: 15px;
      }
      .time {
        font-size: 15px;
      }
      .more {
        display: flex;
        justify-content: space-between;
        width: 30%;
        .show-btn {
          background-color: slategray;
          border:1px solid slategray;
          color: white;
          border-radius:  5px; 
          box-shadow: 0 4px 0 0px gray;
        }
        .destroy-btn{
          color: red;
        }
        .edit-btn {
          color: royalblue;
        }
      }
      .image {
      }
    }
  }
}
  .page {
    padding-top: 20px;
    font-size: 20px;
    a {
      text-decoration: none;
      color:black; 
    }
  }
  

.footer {
  background-color: #EEEEEE;
  height: 30px;
} 
