.header-user {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px 0 80px;
  background-color: #fafafa;
  height: 90px;
  display: flex;
  line-height: 80px;
  position: relative;
  &__name {
    width: 600px;
    font-size: 60px;
    font-weight: 900;
    color: #333;
    font-family: 'Corben', cursive;
  }
}
.container {
  height: calc(100vh - 140px);
  margin: 30px 40px 30px 80px;
    &__left {
      height: 100%;
      width: 30%;
      float: left;
    }
      .title {
        padding: 10px 0px;
        &__text {
          height: 40px;
          width: 300px;
        }
      }
      .genre {
        padding: 10px 0px;
        &__text {
          height: 40px;
          width: 300px;
        }
      }
      .where {
        padding: 10px 0px;
        &__text {
          height: 40px;
          width: 300px;
        }
      }
      .word {
        padding: 10px 0px;
        &__text {
          height: 40px;
          width: 300px;
        }
      }
      .image {
        padding: 10px 0px;
        &__text {
          height: 30%;
          color: black;
        }
      }
      .submit {
        padding: 10px 0px;
        &__btn {
          font-size: 40px;
        }
      }
      .time {
        padding: 10px 0px;
      }
      .image-show {
        border: 3px solid black;
        
      }
  &__right {
    width: 70%;
    height: 100%;
    float: left;
    .review {
      &__text {
        width: 95%;
        height: 550px;
      }
    }
    .review-show {
      margin: 0 auto;
      overflow: scroll;
      border: 1px solid black;
      height: 550px;
      width: 100%;
    }
    
  }
}