.container-show {
  font-size: 20px;
  float: left;
  width: 40%;
  span {
    color:#bbbbbb;
  }
  .name {
    padding: 5px 0px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  &__images {
    margin-top: 30px;
    align-items: center; 
    flex-wrap: wrap;
    overflow-x: auto;
    display: flex;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    .image {
      height: 165px;
      width: 165px;
      margin-left: 10px;
      margin-top: 10px;
    }
    .images:hover {
      opacity: 0.8;
    }
  }
}

.review-show {
  float: left;
  border: 1px solid black;
  width: 55%;
  height: 90%;
  margin-left : 30px;
  margin-top: 30px;
  overflow-y: scroll;
}