.bg-slider {
  
  background-position:center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-slider__title{
  color: #fff;
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold;
  text-align:center;
  text-shadow: 1px 1px 1px #000;
}
.account {
  width: 100vw;
  height: calc(100vh - 90px);
  // padding: 30px 50px;
  background-position: center;
  background-size: 100%;
  .account-page {
    height: 100%;
    width: 100%;
    .account-page__inner {
      width: 980px;
      padding: 30px;
      margin-left: 100px;
      border-radius: 5px;

      .account-page__inner--left, .account-page__inner--right {
        width: 50%;
        padding-left: 30px;
      }
      &:after {
        clear: both;
        content: "";
        display: block;
      }
    }

    .account-page__header {
      h2 {
        text-shadow: -1px -1px 1px #ffffff, 1px 1px #000000;
        color: white;
        margin-bottom: 10px;
        letter-spacing: 3px;
        font-size: 50px;
        font-weight: 200;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        

        // &:after {
        //   content: '';
        //   display: block;
        //   width: 60px;
        //   margin-top: 5px;
        //   border-bottom: 1px solid green;
        // }
      }

      .btn {
        margin-top: 20px;
        margin: 20px 0px 40px 0px;
        color: #fff;
        background-color: #ccc;
        font-size: 30px;
        box-shadow: 0 4px 0 0px gray;
        border-radius:  5px; 
        text-decoration: none;
        float: left;
      }
    }

    .field {
      margin-bottom: 10px;
      font-size: 20px;
      &__input {
        padding: 10px 0px;
        .email {
          width: 400px;
          height: 50px;
        }
        .password {
          width: 400px;
          height: 50px;
        }
      }
     }
   

    .btn {
      display: inline-block;
      width: 250px;
      height: 50px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border: none;
      border-radius: 2px;
    }

    input[type='submit'] {
      float: left;
      margin-top: 20px;
      background-color: #ccc;
      box-shadow: 0 4px 0 0px gray;
      border-radius:  5px;
    }
  }

    .field-label {
      .field_with_errors {
        display: inline-block;
        color: red;
        font-weight: 400;
      }
    }

    .field-input {
      .field_with_errors {
        position: relative;
        
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 5px;
          background-color: red;
        }
      }
    }
  

  #error_explanation {
    position: absolute;
    bottom: 150px;
    right: 200px;
    margin: 20px 0;
    padding: 20px 30px;
    border: 2px solid #ddd;
    border-radius: 2px;
    background-color:#FFFFEE;
    h2 {
      margin-bottom: 10px;
      color:red;
      font-size: 18px;
    }

    ul {
      margin: 0;

      padding-left: 17px;
      list-style: square;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: 15px;
      color: red;
    }
  }
}
// .footer-log {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   background-color: black;
//   height: 50px;
// }