.header-user {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px 0 80px;
  background-color: #fafafa;
  height: 90px;
  display: flex;
  line-height: 80px;
  position: relative;
  &__name {
    width: 600px;
    font-size: 60px;
    font-weight: 900;
    color: #333;
    font-family: 'Corben', cursive;
  }
}
.account {
  height: calc(100vh - 90px);
  padding: 30px 50px;
  background-image: url(
    https://rimage.gnst.jp/gurutabi.gnavi.co.jp/image/public/img/article/12/d6/art002203/article_art002203_17.jpg?20180404161900&rw=600);
  background-position: center;
  background-size: 100%;
  .account-page {
    height: 100%;
    width: 100%;
    .account-page__inner {
      width: 980px;
      padding: 30px;
      margin-left: 100px;
      border-radius: 5px;
      overflow: scroll;

      .account-page__inner--left, .account-page__inner--right {
        float: left;
        width: 50%;
        padding-left: 30px;
      }
      &:after {
        clear: both;
        content: "";
        display: block;
      }
    }

    .account-page__header {
      h2 {
        color: white;
        margin-bottom: 10px;
        letter-spacing: 3px;
        font-size: 50px;
        font-weight: 200;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        

        // &:after {
        //   content: '';
        //   display: block;
        //   width: 60px;
        //   margin-top: 5px;
        //   border-bottom: 1px solid green;
        // }
      }

      .btn {
        margin-top: 20px;
        color: #fff;
        background-color: #ccc;
        font-size: 14px;
      }
    }

    .field {
      margin-bottom: 10px;
      color:black;
      font-size: 20px;
      .field-name {
        padding: 10px;
      }

      .field-label {
        padding: 8px 0;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 200;

        i {
          font-size: 15px;
          color:black;
        }
      }

      .field-input {
        input {
          width: 100%;
          padding: 10px;
          letter-spacing: 1px;
        }
      }
    }

    .btn {
      display: inline-block;
      width: 250px;
      height: 50px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border: none;
      border-radius: 2px;
      border: 1px solid black;
    }

    input[type='submit'] {
      float: left;
      margin-top: 20px;
      color: white;
      background-color: black;
    }

    .field-label {
      .field_with_errors {
        display: inline-block;
        color: red;
        font-weight: 400;
      }
    }

    .field-input {
      .field_with_errors {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 5px;
          background-color: red;
        }
      }
    }
  }

  #error_explanation {
    position: absolute;
    left: 80px;
    bottom: 120px;
    margin: 20px 0;
    padding: 20px 30px;
    border: 2px solid #ddd;
    border-radius: 2px;
    background-color:#FFFFEE;
    h2 {
      margin-bottom: 10px;
      color:red;
      font-size: 18px;
    }

    ul {
      margin: 0;

      padding-left: 17px;
      list-style: square;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: 15px;
      color: red;
    }
  }
}
// .footer-log {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   background-color: black;
//   height: 50px;
// }