.contents
  .search
    %form
      %input.posts__text-field{:type => "text"}/
      %button.posts__submit{:type => "submit"} 検索
  .content
    .content__box
      aaa
    .content__box
      iii
    .content__box
      aaa
    .content__box
      aaa
    .content__box
      aaa
    .content__box
      iii
    .content__box
      aaa
    .content__box
.footer


  