<div class="content">
  <div class="content__box">
    <div class="name">
      <a href="/users/8">
        <span>投稿者</span>kakikukeko
      </a>
    </div>
  <div class="title">
    <span>Title：</span>
      アイエウオ
  </div>
  <div class="place">
    <span>Place:</span>
      アイウエオ
  </div>
  <div class="word">
    <span>A word:</span>
      アイエウオ
  </div>
  <div class="time">
    2020年 03月 26日 20時
  </div>
  <ul class="more">
    <li><a data-method="get" href="/posts/29">詳細</a></li>
    <li><a rel="nofollow" data-method="delete" href="/posts/29"><i class="fas fa-times-circle icon"></i></a></li>
    <li><a data-method="get" href="/posts/29/edit"><i class="fas fa-edit edit"></i></a></li>
  </ul>
  <div class="image">
    <a data-lightbox="/uploads/post/image/29/%E3%83%AA%E3%82%AB%E3%82%99%E3%83%88%E3%83%BC%E3%83%8B.jpg" href="/uploads/post/image/29/%E3%83%AA%E3%82%AB%E3%82%99%E3%83%88%E3%83%BC%E3%83%8B.jpg"><img src="/uploads/post/image/29/%E3%83%AA%E3%82%AB%E3%82%99%E3%83%88%E3%83%BC%E3%83%8B.jpg">
  </a>
  </div>
</div>
